.hearts {
  --grid-template-columns-desktop: repeat(6, 1fr);
  --grid-template-columns-tablet: repeat(3, 1fr);

  gap: 20px;
  display: grid;

  @include globals.useMedia("grid-template-columns");
}

.img {
  max-width: 100%;
  height: auto;
}
