.subtitle {
  padding-top: 25px;
  padding-bottom: 120px;
  max-width: 925px;
}

.background {
  top: 50%;
  left: 0;
  position: absolute;
  translate: 0 -50%;
  opacity: 0.04;
  pointer-events: none;
  width: 100vw;
}
