.wrap,
.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  --gap-desktop: 50px;
  --gap-tablet: 20px;

  @include globals.useMedia("gap");
}

.days {
  --gap-desktop: 40px;
  --gap-tablet: 15px;

  @include globals.useMedia("gap");
}
