.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  background-color: var(--color-crema);
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.heart) {
    width: 6vw;
    min-width: 100px;
  }
}
