.logo {
  --width-desktop: 40px;
  --width-tablet: 30px;

  color: var(--color-main);
  transition: 0.3s 0.2s;

  @include globals.useMedia("width");

  svg {
    fill: currentColor;
    width: 100%;
  }
}
